SITE_URL=https://tarocue.co.kr
NEXT_PUBLIC_SITE_URL=
NAVER_SITE_VERIFICATION=929de4121fc94e573caf3baf36ff8e601d85f1ca
ADFIT_ENABLED=false
ADFIT_ALLOWED_HOSTS=tarocue.co.kr
ADFIT_TAROT_RESULT_300X250=
ADFIT_CARD_DETAIL_300X250=
ADFIT_CARD_INDEX_300X250=
ADFIT_HOME_300X250=
ADFIT_DEBUG_PLACEHOLDERS=false
PUBLIC_CONTACT_EMAIL=contact@tarotmind.kr
